*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: sans-serif;
	font-family: calibri;
	font-size: 10pt;
}
body{
	background-image: url("../../img/background/IMG_8858.png"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: inherit;
	background-color: ;
	height: 100vh;
}

.principal{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

.principal .esquerda{
	width: 37%;
	/*background-color: #ccc;*/
	height: 100vh;
}

.principal .direita{
	width: 60%;
	/*background-color: #666;*/
	height: 100vh;
}

.principal .esquerda .cabecalhoEsquerda{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px 0;
	color: #fff;
	margin-bottom: 1%;
}
.operador, .vnd{
	margin: auto 10px;
}

.principal .esquerda .cabecalhoEsquerda a{
	padding: 5px 10px;
	color: #fff;
	cursor: pointer;
}
.principal .esquerda .cabecalhoEsquerda #openCaixa{
	background-color: #68DD62;
	margin-right: 1%;
}

.principal .esquerda .cabecalhoEsquerda #closeCaixa{
	background-color: #EB7D08;
}
.principal .esquerda .cabecalhoEsquerda #ferra{
	background-color: #38D0ED;
	margin-left: 1%;
}
.principal .direita .cabecalhoDireita a{
	padding: 5px 15px;
	background-color: #38D0ED;
	color: #fff;
	cursor: pointer;
}
.principal .direita .cabecalhoDireita{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px 0;
	color: #fff;
	margin-bottom: 1%;
}



.principal .esquerda .conteudoEsquerda{
	background-color: rgba(255,255,255,1);
	color: #000;
	padding: 15px;
	height: 87vh;
	overflow-y: scroll;
}

.principal .esquerda .conteudoEsquerda .info{
	background-color: /*rgba(0,0,0,0.6)*/;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	color: #337AB6;
}





.principal .esquerda .conteudoEsquerda table{
	width: 95%;
	margin: 5px auto;
}


.principal .esquerda .rodapeEsquerda{
	background-color: #EB7D08;
	color: #666;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.principal .esquerda .rodapeEsquerda div{
	background-color: #fff;
	padding: 2px 30px;
	width: 33px;
	color: #000;
	margin: 5px 10px;
	border-radius: 4px;
	font-size: 10pt;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.principal .esquerda .rodapeEsquerda div:hover,
.principal .direita .rodapeDireita .a div:hover,
.principal .direita .rodapeDireita .b div:hover{
	background-color: #fff;
	cursor: pointer;
	color: #000;
}

.relogio{
	margin: auto 10px;
}

.principal .esquerda .rodapeEsquerda div img,
.principal .direita .rodapeDireita div div img{
	width: inherit;
	height: 33px;
}

.principal .direita .conteudoDireita{
	background-color: rgba(255,255,255,0.3);
	height: 75.5;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	border-radius: 0 5px 0 0;
}
.principal .direita .conteudoDireita .grupo{
	width: 40%;
	margin: 0;
}
.principal .direita .conteudoDireita .grupo1{
	width: 60%;
	background-color: #fff;
	color: #000;
	margin: 0;
	border-radius: 0 5px 0 0;
}
.principal .direita .conteudoDireita form{
	padding: 10px;
	width: 90%;
	margin: 5px auto;
}
.principal .direita .conteudoDireita form input{
	padding: 10px;
	width: 94%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.principal .direita .conteudoDireita form select{
	padding: 15px 10px;
	width: 100%;
	border: 1px solid #ccc;
}

.principal .direita .conteudoDireita .tbl{
	width: 98%;
	padding: 2%;
	height: 70vh;
	overflow-y: scroll;
}

.principal .direita .conteudoDireita .tbl table{
	width: 100%;
	margin-top: 10px;
	border-radius: 0 5px 0 0;
}

.principal .direita .conteudoDireita .tbl table tr{
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.principal .direita .conteudoDireita .tbl table tr td{
	padding: 15px 15px;
}



.principal .direita .rodapeDireita{
	color: #333;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 5px;
}

.principal .direita .rodapeDireita .div1{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 37%;

}

.principal .direita .rodapeDireita .div1 .right{
	width: 100%;
	text-align: center;
}
.principal .direita .rodapeDireita .div1 .left{
	width: 100%;
}

.principal .direita .rodapeDireita .div1 .right input{
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
}
.principal .direita .rodapeDireita .div2{
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 60%;
	height: 30px;
}
.principal .direita .rodapeDireita .div2 a{
	padding: 5px 10px;
	color: #fff;
	cursor: pointer;
}
.principal .direita .rodapeDireita .div2 a:nth-child(1){
	background-color: #F43248;
}
.principal .direita .rodapeDireita .div2 a:nth-child(2){
	background-color: #EB7D08;
	margin-left: 10px;
}
.principal .direita .rodapeDireita .b .fs{
	background-color: #fff;
	padding: 2px 30px;
	width: 100px;
	color: #000;
	margin: 5px 10px;
	border-radius: 4px;
	font-size: 8pt;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.principal .direita .rodapeDireita .a,
.principal .direita .rodapeDireita .b{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

/*ELEMENTOS FLUTUANTES
.floatElements .caixa,
.aberturaCaixa, 
.fechoCaixa, 
.qtdProduto, 
#pagamentoFactura,
#trocoPrint,
.ferramentas{
	background-color: #fff;
	position: fixed;
	clear: both;
	border-radius: 4;
}

.floatElements .flts{
	display: none;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	position: absolute;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	text-align: center;
}

.floatElements .flun{
	display: none;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	position: absolute;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
	text-align: center;
	transition: all 0.4s ease-in-out;
}



.floatElements .fltss{
	display: none;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	position: absolute;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	text-align: center;
}

.floatElements .floten{
	display: none;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	position: absolute;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	text-align: center;
}

.floatElements .flot{
	display: none;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	position: absolute;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	text-align: center;
}

.ferramentas{
	max-width: 100%;
	width: 40%;
	display: none;
	border: 1px solid #fff;
	height: 100vh;
	overflow-y: hidden;
	transition: all 0.4s ease-in-out;
}


.ferramentas .header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 98%;
	background-color: #38D0ED;
	padding: 20px 0px;
	margin: 0;
	color: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 16pt;
	padding-left: 2%;
}

.ferramentas .menu{
	width: 100%;
	background-color: #fff;
	height: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow-x: scroll;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.ferramentas .menu a img{
	max-width: 100%;
	width: 50%;
	margin-top: -12px;
	margin-bottom: 4px;
}

.ferramentas .footer{
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #ccc;
	padding: 2% 0;
	text-align: right;
}

.ferramentas .menu a{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #25899F;
	color: #fff;
	width: 13%;
	height: 40%;
	margin: 0 2%;
	padding: 3% 2%;
	border-radius: 4px;
	font-size: 9pt;
}

.ferramentas .footer a{
	margin: 0 10px;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #ccc;
	color: #333;
}

.ferramentas .conteudo{
	height: 52vh;
}

.ferramentas .conteudo .devolver{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.ferramentas .conteudo .devolver form{
	width: 38%;
}

.ferramentas .conteudo .devolver form .form-group{
	margin: 10px 0;
	width: 90%;
}

.ferramentas .conteudo .devolver form .form-group select{
	width: 100%;
	padding: 15px 5px;
}

.ferramentas .conteudo .devolver form .form-group .btn_search{
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #68DD62;
	color: #fff;
	border: none;
	font-weight: bold;
	font-size: 12pt;
}

.ferramentas .conteudo .devolver .tabela{
	width: 58%;
	margin-top: 10px;
}

.ferramentas .conteudo .devolver .tabela table{
	width: 100%;
	border-collapse: collapse;
}

.ferramentas .conteudo .devolver .tabela table thead{
	background-color: #38D0ED;
	color: #fff;
}

.ferramentas .conteudo .devolver .tabela table thead th{
	border-collapse: collapse;
}


.qtdProduto{
	max-width: 100%;
	width: 25%;
	display: none;
	padding-bottom: 10px;
	margin-top: 30vh;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.qtdProduto .btclose{
	margin-top: 10px;
	padding: 20px 0;
}

.qtdProduto .btclose a{
	margin: 0 10px;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #ccc;
	color: #333;
}

.aberturaCaixa{
	max-width: 100%;
	width: 35%;
	top:auto;
	left: auto;
	display: none;
	padding-bottom: 10px;
	margin-top: 20vh;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.aberturaCaixa .fild{
	border-bottom: 1px solid #ccc;
}

.aberturaCaixa .fild .form-group{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aberturaCaixa .fild .form-group label{
	font-size: 14pt;
}

.aberturaCaixa .fild .form-group input{
	width: 55%;
	padding: 40px 20px;
	font-size: 25pt;
	border: 1px solid #ccc;
}
.pedido,
.fechoDeCaixa{
	display: none;
	padding: 10px 0px;
	background-color: #fff;
	position: absolute;
	clear: both;
	width: 25%;
	top:25%;
	left: 45%;
	text-align: center;
}
.fechoDeCaixa{
	/*display: block;*/
}

.fatura{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	-o-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	-ms-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	font-size: 9pt;
	padding: 10px 0px;
	background-color: #fff;
	position: absolute;
	clear: both;
	width: 98%;
	top:0%;
	left: 0%;
	text-align: center;
	font-family: Courier New;
	display: none;
	border:1px dotted #000; 
}

.fatura .header{
	text-align: center;
	margin-bottom: 5px;
	border-bottom: 1px dashed #000;
	width: 95%;
	margin: 3px auto;
}

.fatura .fact{
	margin-bottom: 5px;
	border-bottom: 1px dashed #000;
	width: 95%;
	margin: 3px auto;
}

.fatura .body{
	margin-bottom: 5px;
	border-bottom: 1px dashed #000;
	width: 95%;
	margin: 3px auto;
	text-align: left;
}

.fatura .totall{
	padding: 5px;
	/*border-bottom: 1px dashed #000;*/
	width: 95%;
	margin: 3px auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.fatura .processo{
	padding: 5px;
	width: 95%;
	margin: 3px auto;
	text-align: center;
}

.fatura .prodFactura{
	border-bottom: 1px dashed #000;
	width: 95%;
	margin: 3px auto;
}

.fatura .titulo p{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.fatura .totall p{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fatura .prodFactura p{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.fatura .body .p{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.fatura .fact p{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fatura .info p{
	margin-bottom: 6px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



.pedido .btn a,
.fatura .btn a,
.fechoDeCaixa .btn a{
	cursor: pointer;
}

.pedido .btn a img,
.fatura .btn a img,
.fechoDeCaixa .btn a img{
	width: 15px;
	height: 15px;
}


.fechoCaixa{
	max-width: 100%;
	width: 35%;
	display: none;
	padding-bottom: 10px;
	margin-top: 20vh;
	border: 1px solid #ccc;
	border-radius: 4px;
}



#pagamentoFactura{
	width: 55%;
	top:15%;
	left: 25%;
	display: none;
	padding-bottom: 10px;
}

.gr3 .btclose{
	border-top: 1px solid #ccc;
	padding: 15px 0;
	text-align: right;
}

.gr3 .btclose a{
	margin: 0 10px;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #ccc;
}
.rel{
	position: absolute;
	width: 30%;
	top:25%;
	left: 25%;
	display: none;
	padding-bottom: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	-o-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	-ms-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
}

#trocoPrint{
	width: 20%;
	height: 150px;
	top:35%;
	left: 40%;
/*	display: block;*/
}


#pagamentoFactura .header, 
.caixa .header, 
.aberturaCaixa .header,
.fechoCaixa .header,
.qtdProduto .header,
.rel .header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	background-color: #38D0ED;
	padding: 20px 0px;
	margin: 0;
	color: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 16pt;

}

#pagamentoFactura .header h4, 
.caixa .header h4, 
.aberturaCaixa .header h4,
.fechoCaixa .header h4,
.qtdProduto .header h4{
	margin-left: 20px;
}

#pagamentoFactura .header a img{
	width: 16px;
}

#pagamentoFactura .grp1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#pagamentoFactura .grp1 .second{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
}

#pagamentoFactura .grp1 .first{
	width: 60%;
}

#pagamentoFactura .grp1 .first .auto{
	border: 0.5px solid #666;
	position: relative;
	background-color: #fff;
	width: 85%;
	top: -10px;
	left: 5%;
	padding: 10px;
	display: none;
}

#pagamentoFactura .grp1 .first .auto p{
	cursor: pointer;
}

#pagamentoFactura .grp1 .second img{
	width: 150px;
	height: 150px;
}

#pagamentoFactura .form{
	padding: 10px 15px;
	margin: 0;
	text-align: center;
}

#pagamentoFactura .form p{
	font-size: 14pt;
	font-weight: bold;
}

#pagamentoFactura .form p.valorP{
	font-size: 35pt;
}

#pagamentoFactura .form p input{
	width: 90%;
	padding: 20px 15px;
	margin-top: 5px;
	font-size: 18pt;
}

#pagamentoFactura .info{
	padding: 10px 15px;
	display: block;
}

#pagamentoFactura .info div{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 8px 0px;
}

#pagamentoFactura .info div p:nth-child(1){
	margin-right: 8%;
}

#pagamentoFactura .info div p span:nth-child(1){
	font-weight: bold;
	margin-right: 5px;
}

#trocoPrint .qtdDiv{
	text-align: center;
	width: 100%;
	background-color: #000;
}

#trocoPrint p:nth-child(1){
	margin-bottom: 10px;
}

#trocoPrint #pago, #trocoPrint #troco{
	color: #CE580F;
	font-size: 14pt;
}

.qtdProduto .qtdDiv{
	text-align: center;
	width: 100%;
	margin: 5px auto;
	/*background-color: #000;*/
}

.qtdProduto #qtd{
	width: 40%;
	padding: 25px 15px;
	margin-top: 10px;
}


.qtdProduto #prod{
	color: #337AB6;
	font-size: 150%;
	text-align: center;
}

#pagamentoFactura #val{
	color: #CE580F;
	font-size: 14pt;
}


.floatElements .caixa .div{
	width: 120px;
}


.floatElements .caixa .fecho p{
	margin-left: 5px;
}

.floatElements .caixa .div:hover{
	background-color: #EB7D08;
	color: #fff;
}

.floatElements .caixa div img{
	width: 50px;
}

.floatElements .caixa .open{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 15px 0;
}
.floatElements .caixa .open div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.floatElements .aberturaCaixa a img{
	width: 16px;
}
.floatElements .fechoCaixa a img{
	width: 16px;
}
.form-group{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.aberturaCaixa span,
.fechoCaixa span{
	text-align: right;
	padding: 2px 10px;
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.aberturaCaixa span{
	margin-left: 68%;
}
.fechoCaixa span{
	text-align: right;
}

.aberturaCaixa .save{
	margin-top: 10px;
	margin-left: 87%;
}

.aberturaCaixa .save a{
	margin: 0 10px;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}

.aberturaCaixa .save a:nth-child(1){
	background-color: #ccc;
	color: #333;
}

.aberturaCaixa .save a:nth-child(2){
	background-color: #68DD62;
	color: #fff;
}

.fechoCaixa .save{
	border-top: 1px solid #ccc;
	padding-top: 15px;
}


.fechoCaixa .save a{
	margin: 0 10px;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}

.fechoCaixa .save a:nth-child(1){
	background-color: #ccc;
	color: #333;
}

.fechoCaixa .save a:nth-child(2){
	background-color: #68DD62;
	color: #fff;
}



#pagamentoFactura .save{
	margin-top: 30px;
	margin-left: 87%;
}

#trocoPrint .save{
	margin-top: 30px;
	margin-left: 60%;
}

#pagamentoFactura .save a img{
	width: 16px;
	height: 16px;
}

.qtdProduto .btn{
	margin-top: 20px;
	margin-left: 90%;
}

.qtdProduto span a img{
	width: 16px;
	height: 16px;
}

#trocoPrint .save a img{
	width: 30px;
	height: 30px;
}

#trocoPrint .save a img:nth-child(1){
	margin-right: 10px;
}

.aberturaCaixa div,.fechoCaixa div{
	padding: 10px;
}


.floatElements .caixa a:not(first-of-type),
.aberturaCaixa span a:not(first-of-type){
	margin-left: 7px;
}

.floatElements .caixa a,
.aberturaCaixa span a{
	cursor: pointer;
}

.floatElements .caixa a img,
.aberturaCaixa span a img,
.fechoCaixa span a img{
	width: 16px;
	height: 16px;
}


.fechoCaixa .saveFecho{
	margin-left: 90%;
}

.fechoCaixa p{
	margin-left: 10px;
}
.aberturaCaixa p{
	margin-left: 10px;
}

.minimize .open{
	display: none;
}

.formView{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
	margin: 0px auto;
}

.formView .looks{
	margin-top: 15px;
	width: 40%;
	margin-left: 0;
}

.formView .looks input{
	padding: 6px;
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 2px;
	border-radius: 4px;
}
.formView .lista{
	width: 40%;
	margin-top: 20px;
}

.formView .lista select{
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;

}

@media print{
	body *{
		visibility: hidden;
	}
	.pedido, .fatura, .fechoDeCaixa, .fechoDeCaixa *, .fatura *, .pedido *{
		visibility: visible;
	}
	.pedido, .fatura, .fechoDeCaixa{
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	.print { display:none !important; } 
	body { background: #fff; }

	/*.pedido .btn{
		visibility: hidden;
	}*/
}

@media (max-width: 1000px){
	.principal .esquerda{
		width: 65%;
		/*background-color: #ccc;*/
	}

	.principal .direita{
		width: 33%;
		/*background-color: #666;*/
	}
	.principal .esquerda .conteudoEsquerda .lista div span,
	.principal .esquerda .conteudoEsquerda .produto div{
		font-size: 8pt;
	}

	.principal .esquerda .cabecalhoEsquerda{
		display: none;
	}
	.principal .direita .cabecalhoDireita{
		display: none;

	}
	.conteudoDireita{
		margin-top: 10px;
		padding-top: 15px;
		border-radius: 5px;
		height: 50vh;
	}
	.principal .direita{
		border-radius: 5px;
	}
	.principal .esquerda .conteudoEsquerda .produto{
		height: 64vh;
	}
	.principal .direita .conteudoDireita table{
		height: 100px;
		overflow: scroll;
	}
	.principal .direita .conteudoDireita{
		overflow: scroll;
	}
	.principal .direita .conteudoDireita table tr td{
		font-size: 8pt;
	}
	.principal .esquerda .rodapeEsquerda{
		border-radius: 0px 0px 4px 4px;
		margin-top: 0px;
	}
	.principal .esquerda .conteudoEsquerda{
		border-radius: 4px 4px 0px 0px;
		margin-bottom: 0px;
	}
	.caixa .header h4{
		font-size: 10pt;
		margin-top: 5px;
	}
	.floatElements .caixa .header img{
		width: 16px;
	}
	.floatElements .caixa div img{
		width: 32px;
	}
	.floatElements .caixa div p{
		font-size: 7pt;
	}
	.principal .direita .rodapeDireita .b .fs{
		width: 80px;
	}

}

@media (max-width: 714px){
	.principal .esquerda{
		width: 55%;
		/*background-color: #ccc;*/
	}
	.principal .direita .rodapeDireita .b .fs{
		width: 80px;
	}
	.principal .direita{
		width: 43%;
		/*background-color: #666;*/
	}

	.principal .esquerda .conteudoEsquerda .produto div{
		width: 48px;
	}
	.principal .esquerda .conteudoEsquerda .produto div img{
		width: 100%;
		max-width: 100%;
	}

	.principal .esquerda .cabecalhoEsquerda{
		flex-direction: column-reverse;
	}

	.principal .esquerda .rodapeEsquerda .center{
		width: 33px;
		padding: 2px 10px;
	}

	.principal .esquerda .rodapeEsquerda div img{
		width: inherit;
	}

	.principal .esquerda .rodapeEsquerda div p{
		font-size: 6pt;
	}

	.principal .direita .rodapeDireita .a .center,
	.principal .direita .rodapeDireita .b .center{
		width: 30px;
		height: 50px;
		padding: 2px 10px;
	}

	.principal .direita .rodapeDireita div img{
		width: inherit;
	}

	.principal .direita .rodapeDireita div p{
		font-size: 6pt;
	}
	.principal .direita .rodapeDireita div .fs h1 p{
		font-size: 4pt;
	}

	.principal .direita .cabecalhoDireita .logo div span img{
		width: 44px;
		height: 44px;
	}

	.principal .direita .cabecalhoDireita .logo div{
		display: inline-block;
	}

}
/*ESTILOS FLEXIVEIS*/
.produtoAdd{
	transition: all 0.3s ease;
}


/*CLASSES AUXILIARES*/
.right{text-align: right;}
.left{text-align: left;}
.center{text-align: center;}
