*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: sans-serif;
	font-family: calibri;
}
body{
	background-image: url("../../img/background/back2.png"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: inherit;
	background-color: ;
	height: 100vh;
}

.principal{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

.principal .esquerda{
	width: 95%;
	height: 100vh;
	color: #fff;
}

.principal .esquerda .cabecalhoEsquerda{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px 0;
	color: #fff;
	margin-bottom: 1%;
}
.operador, .vnd{
	margin: auto 10px;
	color: #fff;
}

.principal .esquerda .cabecalhoEsquerda a{
	padding: 5px 10px;
	color: #fff;
	cursor: pointer;
}
.principal .esquerda .cabecalhoEsquerda #ferra{
	background-color: #38D0ED;
	margin-left: 1%;
}

.principal .esquerda .conteudoEsquerda{
	
	padding: 30px 10px;
	height: 87vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.principal .esquerda .conteudoEsquerda .btn{
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 15px;
	color: #fff;
}

.principal .esquerda .conteudoEsquerda .btn a{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	transition: all 0.4s ease;
	width: 18%;
	margin: 6px;
}

.principal .esquerda .conteudoEsquerda .btn a img{
	width: 35%;
}

.principal .esquerda .conteudoEsquerda .btn a p{
	font-size: 14pt;
}



.principal .esquerda .rodapeEsquerda{
	background-color: #EB7D08;
	color: #666;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.principal .esquerda .rodapeEsquerda div{
	background-color: #fff;
	padding: 2px 30px;
	width: 33px;
	color: #000;
	margin: 5px 10px;
	border-radius: 4px;
	font-size: 10pt;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.principal .esquerda .rodapeEsquerda div:hover{
	background-color: #fff;
	cursor: pointer;
	color: #000;
}

.relogio{
	margin: auto 10px;
}

.principal .esquerda .rodapeEsquerda div img{
	width: inherit;
	height: 33px;
}



/*ELEMENTOS FLUTUANTES*/

@media print{
	body *{
		visibility: hidden;
	}
	.pedido, .fatura, .fechoDeCaixa, .fechoDeCaixa *, .fatura *, .pedido *{
		visibility: visible;
	}
	.pedido, .fatura, .fechoDeCaixa{
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	.print { display:none !important; } 
	body { background: #fff; }

	/*.pedido .btn{
		visibility: hidden;
	}*/
}

@media (max-width: 1000px){
	.principal .esquerda{
		width: 65%;
		/*background-color: #ccc;*/
	}

	.principal .esquerda .conteudoEsquerda .lista div span,
	.principal .esquerda .conteudoEsquerda .produto div{
		font-size: 8pt;
	}

	.principal .esquerda .cabecalhoEsquerda{
		display: none;
	}

	
	.principal .esquerda .conteudoEsquerda .produto{
		height: 64vh;
	}
	
	.principal .esquerda .rodapeEsquerda{
		border-radius: 0px 0px 4px 4px;
		margin-top: 0px;
	}
	.principal .esquerda .conteudoEsquerda{
		border-radius: 4px 4px 0px 0px;
		margin-bottom: 0px;
	}
	.caixa .header h4{
		font-size: 10pt;
		margin-top: 5px;
	}
	.floatElements .caixa .header img{
		width: 16px;
	}
	.floatElements .caixa div img{
		width: 32px;
	}
	.floatElements .caixa div p{
		font-size: 7pt;
	}

}

@media (max-width: 714px){
	.principal .esquerda{
		width: 55%;
		/*background-color: #ccc;*/
	}

	.principal .esquerda .conteudoEsquerda .produto div{
		width: 48px;
	}
	.principal .esquerda .conteudoEsquerda .produto div img{
		width: 100%;
		max-width: 100%;
	}

	.principal .esquerda .cabecalhoEsquerda{
		flex-direction: column-reverse;
	}

	.principal .esquerda .rodapeEsquerda .center{
		width: 33px;
		padding: 2px 10px;
	}

	.principal .esquerda .rodapeEsquerda div img{
		width: inherit;
	}

	.principal .esquerda .rodapeEsquerda div p{
		font-size: 6pt;
	}


}
/*ESTILOS FLEXIVEIS*/
.produtoAdd{
	transition: all 0.3s ease;
}


/*CLASSES AUXILIARES*/
.right{text-align: right;}
.left{text-align: left;}
.center{text-align: center;}
